#Software Directory

/Stanford-ML/Software

#Zip Directories
/Stanford-ML/Assignments/*.zip

#Learning Directories
/Stanford-ML/Learning

# Ignore token files
/Stanford-ML/Assignments/**/token.mat

# Ignore workspace files
/Stanford-ML/Assignments/**/octave-workspace